# FLASK CONFIG
FLASK_SECRET_KEY=yoursecretkeyhere
PORT=5500

# LOCAL POSTGRESQL CONFIG
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tay_coffee_db
DB_USER=postgres
DB_PASS=yourpasswordhere

# EXTERNAL APIS (OPTIONAL)
MAPBOX_ACCESS_TOKEN=your_mapbox_token_here
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
FACEBOOK_CLIENT_ID=your_facebook_client_id
FACEBOOK_CLIENT_SECRET=your_facebook_client_secret
